/**
 * function: common
 * author  : wq
 * update  : 2018/8/2 17:27
 */
@import './_var.scss';
body {
  font-family: Arial, "Microsoft YaHei";
  font-size: $font_normal;
  background: #efeff4;
}

/**
 * 正常字体规则级别设置
 */
@mixin setFontSize($fonts...) {
  $idx: 0;
  @each $font in $fonts {
    $idx: $idx + 1;
    .font_#{$idx} {
      font-size: #{$font}px;
    }
  }
}
@include setFontSize(11, 12, 16, 22, 26, 28);

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/** 方向 **/
.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.text-right {
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
}

.opacity0 {
  width: 0;
  height: 0;
  opacity: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

@mixin setFlex($len: 24) {
  @for $i from 1 through  $len {
    ".flex#{$i}" {
      flex: $i
    }
  }
}
@include setFlex();

/**
 * 间距出来
 */
.padding-big-rl {
  padding-left: $gap_big;
  padding-right: $gap_big;
}

.padding-big-l {
  padding-left: $gap_big;
}

.padding-short {
  padding: $gap_short;
}

.padding-short-tb {
  padding-top: $gap_short;
  padding-bottom: $gap_short;
}

.padding-short-rl {
  padding-left: $gap_short;
  padding-right: $gap_short;
}

.padding-short-b {
  padding-bottom: $gap_short;
}

.font-normal {
  font-size: $font_normal;
}

.font-small {
  font-size: $font_small;
}

.margin-short-l {
  margin-left: $gap_short
}

.margin-short-t {
  margin-top: $gap_short;
}

.gap_normal {
  width: $gap_normal;
}

.gap_bigest {
  width: 50px;
}

.full-parent-height {
  height: 100%;
}

i.radio {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #CCC;
  border-radius: 100%;
}

input:checked + i.radio {
  position: relative;
  border-color: #4c52ea;
}
input:checked + i.radio:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #4c52ea;
  border-radius: 50%;
}

i.checkbox {
  display: block;
  width: 36px;
  height: 36px;
  border: 4px solid #CCC;
  border-radius: 5px
}

input:checked + i.checkbox {
  border-color: #4c52ea;
  background-color: #4c52ea;
}

input:checked + i.checkbox:after {
  content: '';
  position: relative;
  display: inline-block;
  top: -14px;
  left: 4px;
  width: 25px;
  height: 12px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(-60deg) skew(-10deg);
}

i.close:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #000;
  transform: rotate(45deg);
}

i.close:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #000;
  transform: rotate(-45deg);
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  .no-data {
    height: 254px;
    width: 254px;
  }
  .no-launch {
    font-size: 32px;
    color: #a1a1a1;
    font-weight: 700;
    margin-top: 30px;
  }
}

.wd-toast-mask {
  z-index: 20183021!important;
}

.title {
  font-size: $font_big;
  font-weight: bolder;
  text-align: center;
  padding: $gap_short;
}

.line-bottom {
  border-bottom: 1px solid #eee;
}

hr.light {
  background-color: #eee;
  margin-top: $gap_short;
  margin-bottom: $gap_short;
}

.cell-content {
  padding: $gap_normal $gap_short;
  .c-item {
    width: 100%;
    min-height: 35px;
    line-height: 35px;
    word-wrap: break-word;
    display: flex;
    padding-bottom: 10px;
    font-size: $font_normal;
    align-items: flex-start;
    .c-label {
      flex: 2;
      padding: 6px 0 6px 10px;
      text-align: right;
      color: #999;
    }
    .c-value {
      flex: 3;
      padding: 6px 0 6px;
      text-align: left;
      color: #333;
    }
    .long {
      width: 160px;
    }
    .disabled {
      text-align: left;
    }
  }
}

.input-block-wrap {
  .l-label {
    font-size: 26px;
  }

  .r-value {
    font-size: 26px;
  }

  .i-input {
    color: #000;
    opacity: 1;
    border: none;
    font-size: 28px;
    text-align: right;
    height: 75px;
    line-height: 75px;
    outline: none;
    background: transparent;
    width: 240px;
    text-overflow: ellipsis;
  }

  .i-img {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    width: 16px;
    padding-left: 10px;
  }
}

.btn-wrap {
  display: flex;
  justify-content: space-between;
  padding: $gap_big $gap_short;
  align-items: center;
  .btn-item {
    flex: 1;
    margin: 0 $gap_short;
    &:active {
      background: transparent;
    }
  }
  .btn-warn {
    color: tomato;
    border-color: tomato;
  }
}

#app-box {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.icon-edit {
  width: 32px;
  height: 32px;
}

.c-input {
  border: 1px solid #dddddd; /* no */
  padding: 6px 0;
}

.must {
  color: red;
}

.web-upload-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 25px 20px;
  color: #2599f2;
}

/*
展示更多
*/
.hide-wrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  .hide-text {
    color: #126ae4;
  }
  .icon {
    display: inline-block;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    filter: hue-rotate(118deg);
  }
  .hide-icon {
    transform: rotate(180deg);
  }
}
