$green: #1AAE18;
$black: #000000;
.ddjf {
  /*wd-header*/
  .wd-header {
    background-color: $green;
  }
  .wd-button label {
    font-size: 30px !important;
  }
  /*wd-messagebox*/
  .wd-messagebox footer span {
    color: $green;
  }
  .wd-messagebox footer span:first-child {
    color: $black;
  }
  /*button*/
  .wd-button-primary,
  .wd-button-primary:active,
  .wd-button-default:active {
    background-color: $green;
  }
  .wd-button-primary {
    border: 1px solid $green; /*no*/

  }
  .wd-button-default {
    border: 1px solid $green; /*no*/

    color: $green;
  }
  /*wd-search*/
  .wd-search .wd-search-button {
    background: $green;
  }
  /*wd-radio-custominput*/
  input:checked + .wd-radio-custominput[data-v-c8d5a9ac] {
    border: 1px solid $green;  /*no*/

  }
  input:checked + .wd-radio-custominput[data-v-c8d5a9ac]:after {
    background: $green;
  }
  /*wd-checkbox-custominput*/
  input:checked + .wd-checkbox-custominput[data-v-52671348],
  input:checked + .wd-actionsheet-checkbox-custominput[data-v-406220d4] {
    border: 1px solid $green;  /*no*/

    background-color: $green;
  }
  .wd-actionsheet-list .wd-actionsheet-listitem.checked:after {
    border-bottom: 2px solid $green;
    border-right: 2px solid $green;
  }
  /*navbar*/
  .wd-tab-item.navbar-active {
    color: $green;
    border-bottom: 4px solid $green;  /*px*/
  }


  .wd-picker {
    .wd-picker-header {
      line-height: 58px !important;
      & > p {
        font-size: 30px !important;
      }
    }
    .wd-picker-slot {
      font-size: 36px !important;
    }
  }

  .wd-cell+.wd-cell .wd-cell-inner-wrapper {
    border-top: 1px solid rgba(0,0,0,.15);
  }

  .wd-messagebox .wd-messagebox-content header {
    font-size: 32px !important;
  }

  .wd-messagebox .wd-messagebox-content .wd-messagebox-content-text {
    font-size: 28px !important;
  }

  .wd-messagebox footer span {
    font-size: 34px !important;
  }

}